@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');


$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white:#fff;

$font-jost:'Jost', sans-serif;
$font-cormorant:'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1220: 1220px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1430: 1430px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../images/phon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    max-width: 1440px;
    margin: 0 auto 4.6rem;
    padding: 4rem 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    @media (max-width: $r_desk_1280) {
        gap: 3%;
        padding: 16px 15px 0 15px;
    }
    &__navigation {
        flex-grow: 1;
        margin-left: 4.8rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 2.5rem;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        font-weight: 500;
        text-decoration: none;
        flex-basis: 160px;
        letter-spacing: .13rem;
        transition: .3s;
        &:hover {
            color: $orange;
        }
        @media (max-width: $r_desk_hd) {
            display: none;
        }
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        border: 1px solid $orange;
        background-image: url(../images/cart-black.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        cursor: pointer;
        transition: .3s;
        @media (max-width: $r_desk_hd) {
            background-color: $white;
            background-image: url(../images/cart-mobi.svg);
            border: 1px solid $green;
            opacity: .8;
        }
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: $white;
                opacity: 1;
            }
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        right: .5rem;
        top: .7rem;
        @media (max-width: $r_desk_hd) {
            color: $green;
        }
    }
    &__phone, &__menu {
        display: none;
    }
    &__phone {
        @media (max-width: $r_desk_hd) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            border: 1px solid $green;
            background-image: url(../images/tel.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            position: relative;
            transition: .3s;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__menu {
        @media (max-width: $r_tab_900) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: $white;
            border: 1px solid $green;
            background-image: url(../images/menu-mobi.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.7rem 1.5rem;
            position: relative;
            transition: .3s;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__buttons {
        @media (max-width: $r_desk_hd) {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
}
.logo {
    display: block;
    background-image: url(../images/logo\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
    &__footer {
        flex-basis: 18rem;
        height: 4.8rem;
        margin-top: 0.8rem;
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}
.main {
    position: relative;
    padding-bottom: 191px;
    overflow: hidden;
    z-index: 0;
    @media (max-width: $r_tab) {
        padding-bottom: 6rem;
    }
    &__item {
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link {
        margin-top: 5rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
    }
    &__cover {
        flex-basis: 758px;
        height: 758px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120) {
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 656px;
        height: 656px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }
    &__image {
        width: 92%;
        box-shadow: 20px 20px 33px 0px rgba($green, .5);
        border-radius: 50%;
        animation: shadow 5s linear infinite;
    }
    &__imagemobi {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            border-radius: 50%;
            animation: shadow 5s linear infinite;
        }
    }
    &__text {
        padding-top: 4rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        position: absolute;
        color: $green;
        text-align: left;
        cursor: pointer;
        transition: .3s;
        &:hover {
                &::before {
                    background-color: $orange;
                    box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
                }
        }
        &::before {
            content: '';
            background-color: $green;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            border-radius: 100%;
            position: absolute;
        }
        &_1 {
            top: 54px;
            left: 64px;
            @media (max-width: $r_desk_1350) {
                top: 25px;
            }
            @media (max-width: $r_desk_hd) {
                top: 17px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                bottom: 9px;
                right: -35px;
            }
        }
        &_2 {
            top: 197px;
            right: 0;
            @media (max-width: $r_desk_1350) {
                top: 109px;
            }
            @media (max-width: $r_desk_hd) {
                top: 60px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: 17px;
                left: -26px;
            }
        }
        &_3 {
            bottom: -47px;
            right: 244px;
            @media (max-width: $r_desk_1350) {
                bottom: -55px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: -24px;
                left: 13px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.8);
    }
    &__tomato {
        position: absolute;
        bottom: 115px;
        right: 110px;
        width: 11rem;
        z-index: -1;
        @media (max-width: $r_desk_1350) {
            bottom: 10px;
        }
        @media (max-width: $r_desk_1120) {
            bottom: 110px;
        }
        @media (max-width: $r_tab_900) {
            width: 9rem;
        }
        @media (max-width: $r_tab) {
            top: 100px;
            left: -30px;
        }
    }
    &__avocado {
        position: absolute;
        top: 45px;
        right: -8px;
        width: 17.8rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            top: 120px;
            width: 9.8rem;
            right: -50px;
        }
        @media (max-width: $r_desk_hd) {
            top: 70px;
        }
    }
    &__cucumber {
        position: absolute;
        top: 0;
        right: 1136px;
        width: 8rem;
        z-index: -1;
        @media (max-width: $r_desk_1280) {
            display: none;
        }
    }
    &__pepper {
        position: absolute;
        bottom: 600px;
        left: 27px;
        width: 9rem;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: block;
            top: 330px;
            left: 10px;
            width: 6rem;
        }
        @media (max-width: $r_mob_600) {
            top: 360px;
        }
    }
    &__women {
        position: absolute;
        bottom: 160px;
        left: -6px;
        width: 10rem;
        z-index: -1;
        @media (max-width: $r_mob_500) {
            display: none;
        }
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1;
    margin: 0;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
    }
}
.link {
    color: $white;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    transition: .3s;
    @media (max-width: $r_desk_1280) {
        font-size: 1.4rem;
    }
    &:hover {
        background-color: $dark-orange;
    }
    &_max {
        padding: 2.4rem 5rem;
        @media (max-width: $r_desk_1430) {
            padding: 2rem 2rem;
        }
        @media (max-width: $r_desk_1220) {
            
        }
    }
    &_min {
        font-size: 1.4rem;
        padding: 2rem 3.4rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    }
}

.offer {
    padding-top: 2rem;
    padding-bottom: 16.7rem;
    @media (max-width: $r_tab) {
        padding-bottom: 10rem;
    }
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}

.slider {
        overflow: hidden;
        padding-top: 8.6rem;
        @media (max-width: $r_tab) {
            max-width: 450px;
            margin: 0 auto;
            padding-top: 5.4rem;
            padding-bottom: 6rem;
        }
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 0;
        &_white {
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-size: contain;
            padding: 4rem 3.7rem;
            @media (max-width: $r_desk_hd) {
                height: 400px;
            }
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba($white, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_steaks {
            background-image: url(../images/steaks.png);
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            color: rgba($green, 0.7);
            line-height: 1.5;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
        }
        &__link {
            text-transform: uppercase;
            font-weight: 500;
            color: $green;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 2rem;
            letter-spacing: 0.1rem;
            opacity: .8;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../images/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        &_trends {
            height: 700px;
            @media (max-width: $r_desk_1220) {
                text-align: center;
            }
            @media (max-width: $r_desk) {
                height: 400px;
                gap: 1rem;
            }
        }
        &_cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 321px;
            text-align: center;
        }
        &__image {
            width: 100%;
            max-width: 351px;
            height: 100%;
            object-fit: contain;
        }
        &__description {
            font-size: 1.8rem;
            color: rgba(39, 48, 15, 0.7);
            margin: 0;
            min-height: 55px;
            max-width: 300px;
            line-height: 1.5;
        }
        &__price {
            font-size: 2.4rem;
            margin: 0;
            margin-bottom: 3rem;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    &-button-next, &-button-prev {
        top: -60px;
        right: -8px;
        transition: .3s;
        @media (max-width: $r_tab) {
            display: none;
        }
        &::after {
            color: $green;
            font-size: 20px;
        }
        &:hover {
            opacity: .4;
        }
    }
    &-button-prev {
        left: initial;
        right: 75px;
    }
}
.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper-pagination-bullet-active {
    background: $orange;
    border: 1px solid $orange;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}
.counter {
    display: flex;
    cursor: pointer;
    @media (max-width: $r_desk_1220) {
        display: none;
    }
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0;
        background-position: center center;
        border-radius: 100%;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        pointer-events: none;
        background-image: url(../images/plus-counter.svg);
        background-size: 20px 11px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 46px;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}

.about {
    padding-bottom: 202px;
    @media (max-width: $r_tab) {
        padding-bottom: 16rem;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6.5rem;
        gap: 3rem;
        @media (max-width: $r_tab) {
            display: block;
        }
        @media (max-width: $r_tab_900) {
            gap: 4rem;
        }
    }
    &__text {
        margin-left: 12rem;
        flex-basis: 620px;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_desk_1350) {
            flex-basis: 450px;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        gap: 9rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-size: 3rem;
        margin: 0;
        padding-left: 0;
        @media (max-width: $r_desk_1120) {
            gap: 5rem;
        }
        @media (max-width: $r_tab) {
            justify-content: center;
            margin-top: 4.7rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &::before {
            content: '';
            width: 84px;
            height: 84px;
            background-position: center center;
            background-repeat: no-repeat;
            border: 1px solid rgba($green, 0.4);
            border-radius: 100%;
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../images/about-icon-1.svg);
                background-size: 44px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../images/about-icon-2.svg);
                background-size: 40px 40px;
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../images/about-icon-3.svg);
                background-size: 45px 39px;
            }
        }
    }
}
.trends {
    padding-bottom: 173px;
    @media (max-width: $r_tab) {
        padding-bottom: 10rem;
    }
    &__text {
        margin-top: 3.9rem;
    }
}

.catalog {
    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
    }
    &__btn {
        text-transform: uppercase;
        font-weight: 500;
        color: $green;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 1.1rem;
        letter-spacing: 0.1rem;
        cursor: pointer;
        opacity: .8;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
        &::before {
            content: '';
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            background-image: url(../images/refresh.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    &__item {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        padding: 2.4rem 0;
        border: 1px solid rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        transition: .3s;
        &:hover {
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
    margin-bottom: 6.1rem;
    &__item {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        padding: 2.7rem 3rem 3.8rem;
        box-sizing: border-box;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        }
    }
    &__cover {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 204px;
        text-align: center;
    }
    &__image {
        width: 100%;
        max-width: 351px;
        height: 100%;
        object-fit: contain;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 1.7rem;
        margin-bottom: 0;
    }
    &__description {
        font-size: 1.6rem;
        color: rgba($green, .7);
        margin-top: 1.8rem;
        margin-bottom: 0;
        min-height: 61px;
        max-width: 300px;
        line-height: 1.5;
    }
    &__price {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        margin-top: 0;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.delivery {
    margin-top: 14rem;
    &__box {
        display: flex;
        gap: 12%;
        margin-top: 7.4rem;
        margin-left: 12rem;
    }
    &__text {
        flex-basis: 44%;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        transition: .3s;
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #858881;
            display: block;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
        &:hover {
            color: $orange;
        }
        &_discount {
            color: $orange;
            text-decoration: none;
        }
    }
    &__bank {
        flex-basis: 37%;
    }
    &__payment {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        align-items: center;
        margin-top: 4.3rem;
        gap: 3rem;
    }
    &__item {
        height: 32px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        transform: scale(1);
        transition: .3s;
        cursor: pointer;
        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
        &_master {
            width: 53px;
        }
        &_visa {
            width: 74px;
        }
        &_pay {
            width: 87px;
        }
    }
}

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text {
            margin-left: 12rem;
            margin-top: 6rem;
            max-width: 382px;
            flex-grow: 1;
        }
        &__list {
            color: $green;
            font-size: 2.4rem;
            text-decoration: none;
            list-style-type: none;
            transition: .3s;
            &:hover {
                color: $orange;
            }
            &_item {
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 3rem;
            }
            &_tel {
                display: flex;
                gap: 2rem;
                margin-bottom: 2rem;
                &::before {
                    content: '';
                    display: block;
                    width: 45px;
                    height: 30px;
                    background-image: url(../images/phone\ \(1\).svg);
                    background-position: center;
                    background-size: 40px 25px;
                    background-repeat: no-repeat;
                }
            }
            &_mail {
                display: flex;
                gap: 2rem;
                &::before {
                    content: '';
                    display: block;
                    width: 45px;
                    height: 30px;
                    background-image: url(../images/mail\ \(1\).svg);
                    background-position: center;
                    background-size: 30px 20px;
                    background-repeat: no-repeat;
                }
            }
        }
        &__form {
            flex-basis: 589px;
        }
    }
}

.card {
    border: 2px solid rgba($green, 0.4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title {
        font-size: 30px;
        font-family: $font-cormorant;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        display: block;
        width: 100%;
        box-sizing: border-box;
        transition: .3s;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    &__link {
        width: 26rem;
        margin-top: 1.2rem;
        cursor: pointer;
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        transition: .3s;
        &:hover {
            color: $orange;
        }
    }
}

footer {
    border-top: 1px solid #d4d6cf;
    padding-top: 7.9rem;
    padding-bottom: 7rem;
}

.footer {
    &__box {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        flex-basis: 66.5%;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    &__item {
       padding-bottom: 3rem;
       &:last-child {
        margin-bottom: 0;
       }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 2.7rem;
        display: block;
        margin-bottom: 3rem;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;
        color: rgba($green, .6);
        margin-top: 4rem;
    }
    &__author {
        color: rgba($green, .6);
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: rgba($green, 1);
        }
    }
}

.footer-social {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 3rem;
    margin-bottom: 0;
    &__link {
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        border: 2px solid $green;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .8;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-image: url(../images/vk.svg);
        background-size: 2.3rem;
    }
    &__inst {
        background-image: url(../images/instagram.svg);
        background-size: 1.8rem;
    }
    &__fb {
        background-image: url(../images/facebook.svg);
        background-size: 1.8rem;
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
    50% {
        box-shadow: 20px 20px 33px 0px rgba($green, .5);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, .5);
    }
}